* {
  font-family: 'Circular', sans-serif;
}

.radio {
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.form-legend {
	padding-bottom: 2em;
}

.has-error span, #plan-error, #termsOfUse-error {
  color: #d9534f !important;
}

span#termsOfUse-error.help-block {
    margin-left: 5px !important ;
    color: #d9534f !important;
}

label {
  font-weight: 800 !important;
}

#gform {
    text-align: left;
}

#gform * {
    font-size: 16px !important;
}

#submit-form {
    font-size: 14px !important;
}
